<header class="main-nav">
	<nav class="left-nav">
		<ul>
      <li data-controller="sections-sidebar"> 

        <div id="sections-sidebar-btn" data-action="click->sections-sidebar#toggleSidebar">
          <i class="fa-solid fa-bars"></i>
          <span>sections</span>
        </div>
      </li>
			<li data-controller="modal">
        <div id="search-modal-btn" data-action="click->modal#toggleModal">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>search</span>
        </div>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li><a href="#">World</a></li>
      <li><a href="#">San Francisco</a></li>
      <li><a href="#">New York</a></li>
      <li><a href="#">Bootcamp Prep</a></li>
      <li><a href="#">Jumpstart</a></li>
      <li><a href="#">Online</a></li>
      <li><a href="#">Marketing</a></li>
      <li><a href="#">Sales</a></li>
      <li><a href="#">TalentMatch</a></li>
      <li><a href="#">Alumni</a></li>
      <li><a href="#">All</a></li>
    </ul>
    <ul>
      <button type="submit">Subscribe Now</button>
      <button type="submit">Log In</button>
      <i class="fa-solid fa-gear"></i>
    </ul>
  </nav>
</header>